<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>This is the attendee event page</title>
    </head>
    <body>
        <h1>Attendee Event Page</h1>
        <a href="/attendee"><button>Back to Home</button></a>
        <h2>Event Information</h2>
        <p>Title: <%= data.event_title %></p>
        <p>Description: <%= data.event_descrip %></p>
        <p>Date: <%= data.event_date %></p>
        <p>General Admission Tickets Available: <%= data.ticket_max %> </p>
        <p>General Admission Ticket Price: <%= data.ticket_price %></p>
        <p>Discount Tickets Available: <%= data.d_ticket_max %></p>
        <p>Discount Ticket Price: <%= data.d_ticket_price %></p>
        <h2>Book Tickets</h2>
        <form method="POST" action="/attendee/book-event/<%= data.event_id %>">
            Attendee Name: <input id="attendee_name" type="text" name="attendee_name" />
            Attendee Email: <input id="attendee_email" type="text" name="attendee_email" />
            <fieldset>
                <legend>Select ticket type:</legend>
                <div>
                    <input type="radio" id="ticket_type" name="ticket_type" value="general" checked />
                    <label for="general">General</label>
                </div>
                <div>
                    <input type="radio" id="ticket_type" name="ticket_type" value="discount" />
                    <label for="discount">Discount</label>
                </div>
            </fieldset>
            Number of Tickets: <input type="number" id="ticket_quantity" name="ticket_quantity" />
            <input type="submit" value="Book" />
        </form>
    </body>
</html>