<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>This is the attendee event page</title>
    </head>
    <body>
        <div class="container bg-light">
            <div class="heroSection">
                <div class="row">
                    <h1>Attendee Event Page</h1>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <a href="/attendee"><button class="btn btn-secondary">Back to Home</button></a>
                    </div>
                </div>
            </div>
            <div class="eventInfo">
                <div class="row">
                    <h3>Event Info</h3>
                    <p>Title: <%= data.event_title %></p>
                    <p>Description: <%= data.event_descrip %></p>
                    <p>Date: <%= data.event_date %></p>
                    <p>General Admission Tickets Available: <%= data.ticket_max %> </p>
                    <p>General Admission Ticket Price: <%= data.ticket_price %></p>
                    <p>Discount Tickets Available: <%= data.d_ticket_max %></p>
                    <p>Discount Ticket Price: <%= data.d_ticket_price %></p>
                </div>
            </div>
            <div class="eventForm">
                <h3>Book Tickets</h3>

                <div class="row col-md-6 offset-md-3">
                    <form method="POST" action="/attendee/book-event/<%= data.event_id %>">
                        <div class="mb-3">
                            <label for="attendee_name" class="form-label">Attendee Name</label>
                            <input type="text" class="form-control" id="attendee_name" name="attendee_name">
                        </div>
                        <div class="mb-3">
                            <label for="attendee_email" class="form-label">Attendee Email</label>
                            <input type="text" class="form-control" id="attendee_email" name="attendee_email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select Ticket Type</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ticket_type" id="ticket_type" value="general" checked>
                                <label class="form-check-label" for="ticket_type">
                                    General
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ticket_type" id="ticket_type" value="discount">
                                <label class="form-check-label" for="ticket_type">
                                    Discount
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="ticket_quantity" class="form_label">Number of Tickets</label>
                            <input type="number" class="form-control" id="ticket_quantity" name="ticket_quantity">
                        </div>
                        <button type="submit" class="btn btn-primary">Book</button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>