<!DOCTYPE html>
<html>
    <head>
        <title>This is the edit event page</title>
    </head>
    <body>
        <h1>Organizer Edit Event Page</h1>
        <a href="/organizer"><button>Back to Home</button></a>
        <p>Event Creation Date:<%= data.create_date %></p>
        <p>Last Modified Date: <%= data.mod_date %></p>
        <form method="POST" action="/organizer/edit-event/<%= data.event_id %>">
            Event Title: <input id="event_title" type="text" name="event_title" value="<%= data.event_title %>" />
            Event Description: <input id="event_descrip" type="text" name="event_descrip" value="<%= data.event_descrip %>" />
            Event Date: <input id="event_date" type="text" name="event_date" value="<%= data.event_date %>" />
            Max Number of Tickets: <input id="ticket_max" type="number" name="ticket_max" value="<%= data.ticket_max %>" />
            Ticket Price: <input id="ticket_price" type="number" name="ticket_price" value="<%= data.ticket_price %>" />
            Max Number of Discount Tickets: <input id="d_ticket_max" type="number" name="d_ticket_max" value="<%= data.d_ticket_max %>" />
            Discount Ticket Price: <input id="d_ticket_price" type="number" name="d_ticket_price" value="<%= data.d_ticket_price %>" />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>