<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>Edit event page</title>
    </head>
    <body>
        <div class="container bg-light">
            <div class="heroSection">
                <div class="row">
                    <h1>Organizer Edit Event Page</h1>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <a href="/organizer"><button class="btn btn-secondary">Back to Home</button></a>
                    </div>
                </div>
            </div>
            <div class="eventInfo">
                <div class="row">
                    <h3>Event Info</h3>
                    <p>Event Created: <%= data.create_date %></p>
                    <p>Last Modified: <%= data.mod_date %></p>
                </div>
            </div>
            <div class="eventForm">
                <div class="row col-md-6 offset-md-3">
                    <form method="POST" action="/organizer/edit-event/<%= data.event_id %>">
                        <div class="mb-3">
                            <label for="event_title" class="form-label">Event Title</label>
                            <input type="text" class="form-control" id="event_title" name="event_title" value="<%= data.event_title %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="event_descrip" class="form-label">Event Description</label>
                            <textarea class="form-control" rows="3" id="event_descrip" name="event_descrip" required><%= data.event_descrip %></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="event_date" class="form-label">Event Date and Time (UTC)</label>
                            <input type="datetime-local" class="form-control" id="event_date" name="event_date" value="<%= data.event_date %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="ticket_max" class="form-label">Max Number of Tickets</label>
                            <input type="number" id="ticket_max" class="form-control" name="ticket_max" value="<%= data.ticket_max %>">
                        </div>
                        <div class="mb-3">
                            <label for="ticket_price" class="form-label">Ticket Price</label>
                            <input type="number" class="form-control" id="ticket_price" name="ticket_price" step="0.01" value="<%= data.ticket_price %>">
                        </div>
                        <div class="mb-3">
                            <label for="d_ticket_max" class="form-label">Max Number of Discount Tickets</label>
                            <input type="number" class="form-control" id="d_ticket_max" name="d_ticket_max" value="<%= data.d_ticket_max %>">
                        </div>
                        <div class="mb-3">
                            <label for="d_ticket_price" class="form-label">Discount Ticket Price</label>
                            <input type="number" class="form-control" id="d_ticket_price" name="d_ticket_price" step="0.01" value="<%= data.d_ticket_price %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>



        </div>

    </body>
</html>