<!DOCTYPE html>
<html>
    <head>
        <title>This is the edit event page</title>
    </head>
    <body>
        <h1>Edit Event Page</h1>
        <a href="/organizer">Back to Home</a>
        <!-- <form method="POST" action="/organizer/edit-event">
            Event Title: <input id="event_title" type="text" name="event_title" value="<%= event_title %>" />
            Event Description: <input id="event_descrip" type="text" name="event_descrip" value="<%= event_descrip %>" />
            Event Date: <input id="event_date" type="text" name="event_date" value="<%= event_date %>" />
            Event State: <input id="event_state" type="number" name="event_state" value="<%= event_state %>" />
            Publication Date: <input id="pub_date" type="text" name="pub_date" value="<%= pub_date %>" />
            Max Number of Tickets: <input id="ticket_max" type="number" name="ticket_max" value="<%= ticket_max %>" />
            Ticket Price: <input id="ticket_price" type="number" name="ticket_price" value="<%= ticket_price %>" />
            Max Number of Discount Tickets: <input id="d_ticket_max" type="number" name="d_ticket_max" value="<%= d_ticket_max %>" />
            Discount Ticket Price: <input id="d_ticket_price" type="number" name="d_ticket_price" value="<%= d_ticket_price %>" />
            <input type="submit" value="Submit">
        </form> -->
    </body>
</html>