<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>Organizer Home Page</title>
    </head>
    <body>
        <div class="container bg-light">
            <div class="heroSection">
                <div class="row">
                    <h1>Organizer Home Page</h1>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <a href="/logout"><button class="btn btn-secondary">Logout</button></a>

                    </div>

                </div>
            </div>

            <div class="siteInfo">
                <div class="row">
                    <h2>Site Information</h2>
                </div>
                <div class="row siteSettingsAction">
                    <a href="/organizer/site-settings">
                        <button class="btn btn-primary">Change Site Settings</button>
                    </a>
                </div>
                <div class="row">
                    <p>Event Manager Name: <%= siteName %></p>
                    <p>Event Manager Description: <%= siteDescription %></p>
                </div>
            </div>



            <div class="publishedEvents">
                <h2>Published Events</h2>
                <table>
                    <thead>
                        <th>Title</th>
                        <th>Event Date</th>
                        <th>Created</th>
                        <th>Published</th>
                        <th>General</th>
                        <th>Discount</th>
                        <th>Share</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <% publishedEvents.forEach(function(row) { %>
                        <tr>
                            <td><a href="/organizer/edit-event/<%= row.event_id %>"><%= row.event_title %></a></td>
                            <td><%= row.event_date %></td>
                            <td><%= row.create_date %></td>
                            <td><%= row.pub_date %></td>
                            <td><%= row.ticket_max %></td>
                            <td><%= row.d_ticket_max %></td>
                            <td><button class="btn btn-success" type="submit" onclick="copyLink('<%= row.event_id %>')">Link</button></td>
                            <td>
                                <form action="/organizer/delete-event/<%= row.event_id %>" method="get">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <div class="draftEvents">
                <h2>Draft Events</h2>
                <form action="/organizer/add-event" method="get">
                    <button type="submit" class="btn btn-primary">Create New Event</button>
                </form>
                <table>
                    <!-- Note: requirements say to add published date but that does not make
                    sense for a draft event which has not been published. -->
                    <thead>
                        <th>Title</th>
                        <th>Event Date</th>
                        <th>Created</th>
                        <th>Published</th>
                        <th>General</th>
                        <th>Discount</th>
                        <th>Publish</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <% draftEvents.forEach(function(row) { %>
                        <tr>
                            <td><a href="/organizer/edit-event/<%= row.event_id %>"><%= row.event_title %></a></td>
                            <td><%= row.event_date %></td>
                            <td><%= row.create_date %></td>
                            <td><%= row.pub_date %></td>
                            <td><%= row.ticket_max %></td>
                            <td><%= row.d_ticket_max %></td>
                            <td>
                                <form action="/organizer/publish-event/<%= row.event_id%>" method="get">
                                    <button class="btn btn-success" type="submit">Publish</button>
                                </form>
                            </td>
                            <td>
                                <form action="/organizer/delete-event/<%= row.event_id %>" method="get">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

        </div>


        <script src="/organizer.js"></script>
    </body>
</html>

