<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>Organizer Home Page</title>
    </head>
    <body>
        <h1>Organizer Home Page</h1>
        <a href="/organizer/site-settings">Site Settings</a>
        <a href="/logout">Logout</a>
        <h2>Site Information</h2>
        <p>Event Manager Name: <%= siteName %></p>
        <p>Event Manager Description: <%= siteDescription %></p>
        <form action="/organizer/add-event" method="get">
            <button type="submit">Create New Event</button>
        </form>
        <h2>Published Events</h2>
        <table>
            <thead>
                <th>Title</th>
                <th>Event Date</th>
                <th>Created</th>
                <th>Published</th>
                <th>Tickets</th>
                <th>Discount Tickets</th>
                <th>Share</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <% publishedEvents.forEach(function(row) { %>
                <tr>
                    <td><a href="/organizer/edit-event/<%= row.event_id %>"><%= row.event_title %></a></td>
                    <td><%= row.event_date %></td>
                    <td><%= row.create_date %></td>
                    <td><%= row.pub_date %></td>
                    <td><%= row.ticket_max %></td>
                    <td><%= row.d_ticket_max %></td>
                    <td><button type="submit" onclick="copyLink('<%= row.event_id %>')">Link</button></td>
                    <td>
                        <form action="/organizer/delete-event/<%= row.event_id %>" method="get">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h2>Draft Events</h2>
        <table>
            <thead>
                <th>Title</th>
                <th>Event Date</th>
                <th>Created</th>
                <th>Published</th>
                <th>Tickets</th>
                <th>Discount Tickets</th>
                <th>Publish</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <% draftEvents.forEach(function(row) { %>
                <tr>
                    <td><a href="/organizer/edit-event/<%= row.event_id %>"><%= row.event_title %></a></td>
                    <td><%= row.event_date %></td>
                    <td><%= row.create_date %></td>
                    <td><%= row.pub_date %></td>
                    <td><%= row.ticket_max %></td>
                    <td><%= row.d_ticket_max %></td>
                    <td>
                        <form action="/organizer/publish-event/<%= row.event_id%>" method="get">
                            <button type="submit">Publish</button>
                        </form>
                    </td>
                    <td>
                        <form action="/organizer/delete-event/<%= row.event_id %>" method="get">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>

        <script src="/organizer.js"></script>
    </body>
</html>

